/* A mixin that can be used to set font styles depending on the device type. */
@mixin font-text($device) {
  @if $device== 'desktop' {
    font: normal 400 16px/1.4 'Roboto', sans-serif;
  }
  @if $device== 'mobile' {
    font: normal 400 14px/1.4 'Roboto', sans-serif;
  }
}

/* Mixin that can be used to create a shadow. */
@mixin shadow {
  @include transition();

  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);
}

/* Mixin that can be used to create a transition. */
@mixin transition {
  transition: all 0.3s linear;
}

@mixin border($radius:0) {
  border: 1px solid $color-rhythm;
  @if($radius){
    border-radius: $radius;
  }
}

