/* It's a breakpoints for responsive design. */
$xxs: 390px;
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1280px;
$xxxl: 1400px;
$xxxxl: 1440px;

/* It's a color scheme
converter: https://colorscheme.ru/color-converter.html,
generate: https://coolors.co/d2f1e4-fbcaef-f865b0-e637bf-48304d */
$color-charcoal: rgba(38, 70, 83, 1);
$color-persian-green: rgba(42, 157, 143, 1);
$color-maize-crayola: rgba(233, 196, 106, 1);
$color-sandy-brown: rgba(244, 162, 97, 1);
$color-burnt-sienna: rgba(231, 111, 81, 1);
$color-baby-powder: rgba(255, 252, 249, 1);
$color-rhythm: rgba(126, 127, 154, 1);